.blog {
    .blog__pad {
        & > .blog__item:nth-child(4) {
            padding-left: 0;
        }
    }
    .blog__item {
        padding: 0;
        img {
            width: 100%;
        }
    }
    .blog__text {
        padding: 40px;
        .blog__link {
            position: relative;
            a {
                color: $cl-gray-12;
                text-decoration: none;
                text-transform: uppercase;
                margin-right: $mg-1;
                font-size: $fs-1 - 3;
                letter-spacing: 1px;
                transition: all 0.3s;
                &:hover {
                    color: $cl-yellow-0;
                }
            }
            & a:first-of-type {
                color: $cl-dark-3;
                font-size: $fs-2;
                margin-bottom: $mg-5;
                display: block;
                transition: all 0.3s;
                &:hover {
                    color: $cl-yellow-0;
                }
            }
            &::before {
                position: absolute;
                top: -15px;
                left: 0;
                width: 60px;
                height: 1px;
                content: "";
                display: block;
                margin-top: $mg-0;
                background-color: $cl-dark-3;
            }
        }
    }
    .img__odd {
        .img__angle::after {
            position: absolute;
            left: 48%;
            bottom: -7px;
            width: 15px;
            height: 14px;
            content: "";
            display: block;
            transform: rotate(45deg);
            border-style: none;
            border-color: $cl-white-0;
            border-right: 1px solid $cl-white-0;
            background-color: $cl-white-0;
        }
    }
    .img__odd5 {
        .img__angle::before {
            position: absolute;
            left: 48%;
            top: -7px;
            width: 15px;
            height: 14px;
            content: "";
            display: block;
            transform: rotate(45deg);
            border-style: none;
            border-color: $cl-white-0;
            border-right: 1px solid $cl-white-0;
            background-color: $cl-white-0;
        }
    }
    .blog__viewall {
        margin-top: $mg-7;
        a {
            text-decoration: none;
            color: $cl-gray-7;
            letter-spacing: 1px;
            transition: all 0.3s;
            &:hover {
                color: $cl-dark-3;
            }
        }
    }
}
@media screen and (max-width: 991.98px) {
    .blog {
        .blog__pad {
            .blog__text {
                height: 309px;
            }
            & > .blog__text:nth-child(6) {
                height: 100%;
            }
            .img__odd5 {
                .img__angle::before {
                    top: 99%;
                }
            }
        }
    }
}
@media screen and(max-width: 575.98px) {
    .blog {
        .blog__item {
            img {
                padding: 0 $pd-1 + 3 0 $pd-3;
            }
        }
        .blog__pad {
            & > .blog__item:nth-child(4) {
                padding-left: $pd-5;
            }
        }
    }
}
