*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: $cl-dark-11;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    ::selection{
        background-color: $cl-yellow-0;
        color: $cl-white-0;
    }
}
.section{
    padding: $pd-7 0;
}
@media screen and (max-width: 767.98px) {
    .section{
        padding: $pd-5 0;
    }
}